header {
  align-items: center;
  color: white;
  font-family: papyrus;
  text-shadow:  1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;
}

body {
  background: url("https://i.pinimg.com/originals/21/b2/62/21b26256e5af158de71300bad8afbe9e.jpg");
  background-size: cover;

}
article {
  text-align: center;
  color: white;
  font-family: arial black;
  padding-top: 0.5%;
}
h1 {
  text-align: center;
}

button {
  margin: auto;
  background-color: white;
  border-width: 5px;
  border-color: grey;
}

